* {
    color: #000000; 
    background-color: #A1A498; /* Green Grey*/
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 10px;
}

img {
    float: left;
    margin: 0 20px 0 0;
    border: 3px solid;
    height: 250px;
    width: auto;
}

title {
    font-size: 4em;
}

body {
    font-size: 2em;
}

.bio {
    /* class selector and 2 element selectors */
    border: 3px thin;
    padding: 2px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}